@use '../../theme/mixins/motion';

.au-window-title-bar {
  position: relative;
  z-index: 10001;
  display: flex;
  align-items: center;
  flex: none;
  width: 100%;
  height: 32px;
  min-height: 32px;
  padding: 0;
  border-bottom: 1px solid var(--au-material-border-emphasis);
  color: var(--au-color-text-primary);
  -webkit-app-region: drag;
  user-select: none;
  pointer-events: none;
}

.au-window-title-bar.is-drag-disabled,
.au-window-title-bar.is-drag-disabled .au-window-title-bar__title {
  -webkit-app-region: no-drag;
}

.au-window-title-bar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  padding: 6px;
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

.au-window-title-bar__icon img {
  display: block;
  width: auto;
  height: 18px;
  aspect-ratio: 1;
  object-fit: contain;
}

.au-window-title-bar__title {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 0 8px;
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  -webkit-app-region: drag;
  pointer-events: auto;
}

.au-window-title-bar__controls-before,
.au-window-title-bar__controls {
  display: flex;
  align-items: center;
  flex: none;
  height: 100%;
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

.au-window-title-bar.is-controls-start .au-window-title-bar__controls-before {
  order: -2;
}

.au-window-title-bar.is-controls-start .au-window-title-bar__controls {
  order: -1;
}

.au-window-title-bar__button {
  width: 40px;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  @include motion.transition(color, background-color, opacity);
}

.au-window-title-bar__button:hover:not(:disabled) {
  background: var(--au-color-background-hover);
}

.au-window-title-bar__button.is-close:hover:not(:disabled) {
  color: #ffffff;
  background: #e81123;
}

.au-window-title-bar__button-icon {
  width: auto;
  height: 12px;
  aspect-ratio: 1;
}
