$inverse-color: rgb(255 255 255 / 88%);
$inverse-border: rgb(255 255 255 / 12%);
$inverse-background: rgb(48 49 51 / 72%);
$inverse-background-hover: rgb(48 49 51 / 88%);
$inverse-background-active: rgb(31 32 34 / 92%);
$inverse-background-solid: rgb(48 49 51);
